<p id="notice"><%= notice %></p>
<br>
<h1 class="text-center">Welcome, Merchant!</h1>
<div class="row">
  <div class="box-with-shadow col-md-6 col-md-offset-3">
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
  </div>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Orders', user_orders_path(@user) %>
<%= link_to "Products", user_products_path(@user) %>
