<h1 class="xl-top-margin">Calculate Shipping</h1>
<div class="row">
  <div class="col-sm-6 box-with-shadow">
    <h3>Shipment Details</h3>
    <%= form_for @order, url: calculateshipping_path, :html => {:class => "form-group"} do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :street %><br>
        <%= f.text_field :street, class: 'form-control', :required => true  %>
      </div>
      <div class="field">
        <%= f.label :city %><br>
        <%= f.text_field :city, class: 'form-control', :required => true  %>
      </div>
      <div class="field">
        <%= f.label :state %><br>
        <%= f.text_field :state, class: 'form-control', :required => true  %>
      </div>
      <div class="field">
        <%= f.label :zip %><br>
        <%= f.text_field :zip, class: 'form-control', :required => true  %>
      </div>
      <div class="actions">
        <%= f.submit value: "Proceed to Calculate Shipment Cost", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
