<h1>Checkout</h1>

<h3>Purchase Items</h3>
<ul>
  <% @order_items.each do |oi| %>
    <%= oi.product.name %>: <%= oi.quantity %>
    <br>
  <% end %>
</ul>

<h3>Payment Details</h3>
<%= form_for @order, url: checkout_submit_path do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :cc_num %><br>
    <%= f.text_field :cc_num %>
  </div>
  <div class="field">
    <%= f.label :cc_exp %><br>
    <%= f.date_select :cc_exp %>
  </div>
  <div class="field">
    <%= f.label :cc_cvv %><br>
    <%= f.number_field :cc_cvv %>
  </div>
  <div class="field">
    <%= f.label :cc_name %><br>
    <%= f.text_field :cc_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back to Cart', cart_path %>
