<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @order.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @order.zip %>
</p>

<p>
  <strong>Cc num:</strong>
  <%= @order.cc_num %>
</p>

<p>
  <strong>Cc exp:</strong>
  <%= @order.cc_exp %>
</p>

<p>
  <strong>Cc cvv:</strong>
  <%= @order.cc_cvv %>
</p>

<p>
  <strong>Cc name:</strong>
  <%= @order.cc_name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<%= link_to 'Order Item', user_order_order_items_path(@order.id, @order.user_id) %>
