<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.cc_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Mailing Address:</strong>
  <br>
  <%= @order.street %>
  <br>
  <%= @order.city %>, <%= @order.state %> <%= @order.zip %>
</p>

<p>
  <strong>Credit Card:</strong>
  <% if @order.cc_num.length <= 4 %>
    <%= @order.cc_num %>
  <% else %>
    <% (@order.cc_num.length - 4).times do %>
      *
    <% end %>
    <%= @order.cc_num[(@order.cc_num.length - 4)..(@order.cc_num.length - 1)] %>
  <% end %>
</p>

<p>
  <strong>Credit Card Expiration:</strong>
  <%= readable_date(@order.cc_exp) %>
</p>

<p>
  <strong>Order Items purchased from <%= @user.name %>:</strong>
  <br>
  <% @order.order_items.each do |oi| %>
    <% if oi.product.user == @user %>
      <%= oi.product.name %>: <%= oi.quantity %>
      <br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', user_orders_path(@user.id, @order.id) %>
