<h1> Cart </h1>
    <table>
      <th> Product </th>
      <th> Description </th>
      <th> Price </th>
      <th>quantity </th>
      <% @cart.each do |product_id, quantity| %>
        <% product = Product.find(product_id) %>
        <tr>
          <td> <%= link_to product.name, user_product_path(product.user_id, product.id) %> </td>
          <td> <%= product.description %> </td>
          <td> <%= product.price %> </td>
          <td> <%= quantity %> </td>
          <td> <%= link_to 'Remove', remove_user_product_path(product.user_id, product.id), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
  <% end %>
    </table>
 <p> Items total $ <%= Cart.subtotal(@cart) %> </p>
    <%= link_to "Proceed to Checkout", checkout_new_path %>
