<h1> Cart </h1>
<% products = find_products %>
<table>
  <th> Product </th>
  <th> Description </th>
  <th> Price </th>
  <% products.each do |product| %>
    <tr>
      <td> <%= link_to product.name, user_product(product.user_id, product.id) %> </td>
      <td> <%= product.description %> </td>
      <td> <%= product.price %> </td>
      <td> <%= link_to 'remove-NOT WORKING', cart_path %> </td>
    </tr>
  <% end %>
</table>

<p> Item total $<%= subtotal %> </p>
