<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order_item.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<%= link_to 'Edit', edit_user_order_order_item_path(@order_item.id, @user.id, @order_item.order_id) %> |
<%= link_to 'Back', user_order_order_items_path(@user.id, @order_item.order_id) %>
