<%= form_for [@user, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>

    <%= f.label :stock %>
    <%= f.number_field :stock %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :active %>
    <%= f.check_box :active %>

    <%= f.submit %>
  </div>
<% end %>
