<%= form_for @product do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :price %><br>
    <%= f.number_field :price %>

    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>

    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>

    <%= f.label :stock %>
    <%= f.number_field :stock %>

    <%= f.label :description %><br>
    <%= f.text_field :description %>

    <%= f.label :active %><br>
    <%= f.check_box :active %>

    <%= f.submit %>
  </div>
<% end %>
