<ul>
  <% @review.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>

<%= form_for [@product.user, @product, @review] do |f| %>
  <div class="field">
    <%= f.label :rating, "Rating (1-5)" %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
