<p id="notice"><%= notice %></p>

<h1>Listing Reviews for <%= @product.name %></h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.description %></td>
        <td><%= link_to 'Show', user_product_review_path(review.product.user, review.product, review) %></td>
        <td><%= link_to 'Edit',  edit_user_product_review_path(review.product.user, review.product, review) %></td>
        <td><%= link_to 'Destroy', user_product_review_path(review.product.user, review.product, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_user_product_review_path(@product.user, @product) %>
